.contact {
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 3rem;
	padding: 1rem;

	&__form {
		border: 0.25rem solid $color__black;
		border-radius: 5px;
		padding: 5rem 1rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	&__group {
		display: flex;
		flex-direction: column;
	}

	&__label {
		width: 100%;
		margin-bottom: 0.5rem;
	}

	&__asterick {
		color: $color__red;
	}

	&__input {
		width: 100%;
		border-radius: 5px;
		border: 1px solid $color__black;
		height: 3rem;
		padding: 1rem;
		transition: all 300ms;

		&:focus {
			background-color: #fefefe;
			outline-color: $color__primary;
		}

		&--lg {
			height: 10rem;
		}
	}

	&__submit-btn {
		text-align: center;
		cursor: pointer;
		border: 1px solid $color__primary;
		color: $color__white;
		background-color: $color__primary;
		padding: 0.75rem 1.25rem;
		border-radius: 5px;
		font-size: 1.25rem;
		transition: background-color 300ms;

		&:hover {
			background-color: darken($color__primary, 10%);
		}
	}
}

@media (min-width: 350px) {
	.contact {
		&__submit-btn {
			align-self: center;
		}
	}
}

@media (min-width: 450px) {
	.contact {
		&__form {
			padding: 5rem 2rem;
		}
	}
}

@media (min-width: 768px) {
	.contact {
		&__form {
			padding: 5rem 3rem;
		}
	}
}
