//Colors
$color__black: #231f20;
$color__black--opacity: #231f20f5;
$color__white: #ffffff;
$color__primary: #5661ea;
$color__off-white: #efefef;
$color__red: red;
//Opacity
$opacity__text: 0.8;
//Widths
$width__max--main: 56.25rem;
$width__max--header: 90rem;
//Radius
$border__radius--btns: 0.25rem;
//Viewport Sizes
$vp__mobile-sm: 21.875rem;
$vp__mobile--mid: 28.125rem;
$vp__mobile--lg: 34.375rem;
$vp__tablet: 48rem;
